body {
    background-color: rgb(225, 249, 250);
}

.background {
    gap:5px;
    background-repeat: no-repeat, repeat;
    background-blend-mode:overlay;
    background-attachment: fixed;
    background-size: 1920px 1080px;
    border: 15px double black;
    margin:auto;
    text-align: center;

}

.background.cc {
    background-image: url("../odin-recipes/img/coronation-chicken.jpg");
}


.background.gs {
    background-image: url("../odin-recipes/img/gnocchi-sorrentina.jpg");
}

.background.m {
    background-image: url("../odin-recipes/img/minestrone.jpg");
}


h1 {
    text-align: center;
    color: red;
    font-family: Andale Mono, AndaleMono, monospace; 
    font-size: 60px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 200; 
    line-height: 26.4px;
    margin-top:20px;
}

h1.title {
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: blue;
    font-size: 30px;
}

.container-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}


.container-links a {
    /*flex:1;*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:auto;
    font-size:30px;
    font-family: Luminari;
    text-decoration: none;
    margin-top:auto;
    margin-bottom: 50px;

}

.container-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container-imgs a {
    flex-grow: 1;
    flex-shrink: 10;
    flex-basis:auto;

}


a {
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration:none;
}    



img {
    flex-grow: 1;
    flex-shrink: 10;
    flex-basis:auto;
    width: 340px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid blue;
    max-width: 100%;
    transition: transform .2s; /* Animation */
    
}


img.imgs-index {
    width: 600px;
    height:800px;
    object-fit: cover;
    border: 3px solid yellow;
    margin-left: auto;
    margin-right: auto;
    opacity: 30%;
    transition: transform .2s; /* Animation */
    
}

img:hover {
    opacity: 100%;
    transform: scale(1.1);
    
}


p {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

ol > li , ul > li {
    border: 10px solid transparent;
    font-size: 20px;
} 


ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}



ol {
    list-style: decimal inside none;
    text-align: center;
    padding: 0;
    margin: 0;

}

