body {
    background-color: lightgreen;
}

.background {
    gap:5px;
    background-repeat: no-repeat, repeat;
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-size: 1920px 1080px;
    border: 15px double black;
    margin:auto;
    text-align: center;

}

.background.cc {
    background-image: url("../odin-recipes/img/coronation-chicken.jpg");
}

.background.gs {
    background-image: url("../odin-recipes/img/gnocchi-sorrentina.jpg");
}

.background.m {
    background-image: url("../odin-recipes/img/minestrone.jpg");
}


h1 {
    text-align: center;
    color: red;
    font-family: Luminari;
    font-size: 70px;
}

h2 {
    text-align: center;
    color: blue;
    font-size: 30px;
}

.container-links {
    display: flex;
    flex-direction: row;
}


.container-links a {
    /*flex:1;*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:0;
    font-size:30px;
    font-family: Luminari;
    text-decoration: none;
}

.container-imgs {
    display: flex;
}

.container-imgs a {
    /*flex:1;*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:0;
}


a {
    text-align: center;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration:none;
}    



img {
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid yellow;
    
}


img.imgs-index {
    width: 450px;
    height:900px;
    object-fit: cover;
    border: 3px solid yellow;
    margin-left: 15px;
    opacity: 30%;
    
}

img:hover {
    opacity: 100%;
    zoom:120%;
}


p {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

ol > li , ul > li {
    border: 10px solid transparent;
    font-size: 20px;
} 


ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}



ol {
    list-style: decimal inside none;
    text-align: center;
    padding: 0;
    margin: 0;

}
